<div class="col-xs-1" />
{{#link-to 'forum-post' post}}
  <div class="col-xs-10 post-content">
    <div class="post-content-inner">
      <p class="post-title">{{post.title}}</p>
      <p class="post-text">{{cut-text post.text}}</p>
      <p class="post-comments">{{post.commentsCount}} comments</p>
      <p class="post-author">Submitted by {{post.user.name}} | {{ago post.createdAt}}</p>
    </div>
  </div>
{{/link-to}}
<div class="col-xs-1" />
