<div class="comment-content-inner">
  <p class="comment-author">{{comment.user.name}} | {{ago comment.createdAt}}</p>
  <p class="comment-text">{{comment.text}}</p>
  {{#if comment.hasComments}}
    <span {{action 'showReplies' comment}} class="comment-replies">{{comment.commentsCount}} Replies <i id="arrow-comment-{{comment.id}}" class="fa fa-chevron-down"></i></span>
  {{else}}
    {{#if comment.hasComment}}
      <span {{action 'showReplies' comment}} class="comment-replies">{{comment.commentsCount}} Reply <i id="arrow-comment-{{comment.id}}" class="fa fa-chevron-down"></i></span>
    {{/if}}
  {{/if}}
</div>
