<div class="container-fluid">
	<div class="row">
		<div class="col-xs-4" />
		<div class="col-xs-4">
			<form class="sign-form" {{action 'signup' on='submit'}}>
				{{#if loginFailed}}
	  				<div class="alert alert-danger fade in">
	        			<strong>Error! </strong>{{errorMessage}}
	        		</div>
				{{/if}}
				<div class="form-group">
					{{select-2 content=model optionLabelPath="name" optionValuePath="id" value=selectedRegion placeholder="- Select Region -" allowClear=true style="padding:0px;"}}
				</div>
				<div class="form-group">
					{{select-2 content=provinces optionLabelPath="name" optionValuePath="id" value=selectedProvince placeholder="- Select Province -" allowClear=true enabled=provincesEnabled style="padding:0px;"}}
				</div>
				<div class="form-group">
					{{select-2 content=municipalities optionLabelPath="name" optionValuePath="id" value=selectedMunicipality placeholder="- Select Municipality -" allowClear=true enabled=municipalitiesEnabled style="padding:0px;"}}
				</div>
				<div class="form-group">
					{{input type="text" id='name' placeholder='Name' value=name class="form-control"}}
				</div>
				<div class="form-group">
					{{input type="email" id='email' placeholder='Email' value=email class="form-control"}}
				</div>
				<div class="form-group">
					{{input type="password" id='password' placeholder='Password' value=password class="form-control"}}
				</div>
				<div class="form-group">
					{{input type="password" id='password2' placeholder='Repeat Password' value=password2 class="form-control"}}
				</div>
				<button id="sign-btn" type="submit" class="btn btn-primary">Sign Up</button>
			</form>
		</div>
		<div class="col-xs-4" />
	</div>
</div>
